:root {
    --bg: #596275;
    --square-bg: #c44569;
    --color-text: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg);
    color: var(--color-text);   
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    margin: 20px;
    width: 600px;
    height: 400px;
    background-color: var(--color-text);
}

table tr {
    width: 100%;
    height: 33%;
}

table tr td {
    width: 33%;
    font-size: 250%;
    text-align: center;

    background-color: var(--square-bg);
    border: 10px solid var(--square-bg);

    transition: filter 300ms;
}

table tr td span {
    color: var(--color-text);
    font-weight: 800;
}

table tr td:hover {
    filter: brightness(1.2);    
}